@use './variables' as var;

@mixin transition($properties...) {
	transition: $properties;
	-webkit-transition: $properties;
	-moz-transition: $properties;
	-o-transition: $properties;
	transition-duration: var.$transition-ms;
	-webkit-transition-duration: var.$transition-ms;
	-moz-transition-duration: var.$transition-ms;
	-o-transition-duration: var.$transition-ms;
}
