@use '../Theme/colors' as colors;
@use '../Theme/screen';

html,
body {
	margin: 0;
	padding: 0;
	width: screen.$width;
	height: screen.$height;
}
body {
	background-color: #000000;
	font-family:
		Fira Code,
		monospace;
	color: #ffffff;
}
:global(#root) {
	position: relative;
	background-color: colors.$bg-primary;
	width: screen.$width;
	height: screen.$height;
	overflow: hidden;
}
