@use './config' as modalConfig;
@use '../Theme/border' as b;
@use '../Theme/colors' as colors;
@use '../Typography/sizes' as sizes;

.wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: colors.$bg-opaque;
}

.inner-wrap {
	position: absolute;
	padding: modalConfig.$padding-vertical-columns * sizes.$column
		modalConfig.$padding-horizontal-columns * sizes.$column;
	background-color: colors.$bg-primary;
	@include b.border;
	border-color: colors.$fg-primary;
	border-style: solid;

	&.small {
		top: modalConfig.$small-vertical-rows * sizes.$row;
		bottom: modalConfig.$small-vertical-rows * sizes.$row;
		left: modalConfig.$small-horizontal-columns * sizes.$column;
		right: modalConfig.$small-horizontal-columns * sizes.$column;
	}

	&.large {
		top: modalConfig.$large-vertical-rows * sizes.$row;
		bottom: modalConfig.$large-vertical-rows * sizes.$row;
		left: modalConfig.$large-horizontal-columns * sizes.$column;
		right: modalConfig.$large-horizontal-columns * sizes.$column;
	}
}

.backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.content {
	height: modalConfig.$content-height-rows * sizes.$row;
	overflow: hidden;
}
