@use '../Menu/Menu.module.scss' as menu;
@use '../Theme/colors' as colors;
@use '../Typography/sizes' as sizes;

.container {
	position: absolute;
  inset: 0;
	padding-left: 3 * sizes.$column;
	padding-right: 3 * sizes.$column;
	overflow: hidden;
	box-sizing: border-box;
	background-color: colors.$bg-primary;
	z-index: 0; // Reset for nested routes to keep the content within

	&.with-menu {
		padding-left: menu.$width-closed + 3 * sizes.$column;
	}
}
